In [2]:
import pandas as pd

In [3]:
def import_data(filename, sheet_count):
    """
    function to import and concatenate excel data
    requires that exported data contains columns:
        index, test_time, step_time, voltage, current, capacity, scapacity, energy, senergy, and state
    """
    names = ['index', 'test_time', 'step_time', 'voltage', 'current', 'capacity', 'scapacity', 'energy', 'senergy', 'state']
    df = pd.read_excel(filename, sheet_name='Sheet1', header=None, names=names)
    dfl = list([df])
    if sheet_count == 1:
        pass
    else:
        for i in range(1, sheet_count):
            sheet_name='Sheet1(Continued{})'.format(i)
            df0 = pd.read_excel(filename, sheet_name, header=None, names=names)
            dfl.append(df0)
    dataframe = pd.concat(dfl, ignore_index=True)
    return dataframe

def test_import_data():
    """
    docstring
    """
    dataframe = import_data('example_data.xls', 2)
    assert isinstance(dataframe, pd.core.frame.DataFrame), 'output is not a pandas dataframe'
    assert len(dataframe) == 130571, 'output should have length 130571, not {}'.format(len(dataframe))
    assert len(dataframe.keys()) == 10, 'output should have 10 keys, not {}'.format(len(dataframe.keys()))

In [4]:
test_import_data()

In [5]:
dataframe = import_data('example_data.xls', 2)
dataframe

,index,test_time,step_time,voltage,current,capacity,scapacity,energy,senergy,state
0,Index,Mode,Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Rest,06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Index,TestTime,StepTime,Voltage/V,Current/mA,Capacity/mAh,SCapacity/mAh/g,Energy/mWh,SEnergy/Wh/kg,State
3,1,00:00:00,00:00:00,2.346,0,0,0,0,0,R
4,2,00:10:00,00:10:00,2.3449,0,0,0,0,0,R
5,3,00:20:00,00:20:00,2.3449,0,0,0,0,0,R
6,4,00:30:00,00:30:00,2.3441,0,0,0,0,0,R
7,5,00:40:00,00:40:00,2.3445,0,0,0,0,0,R
8,6,00:50:00,00:50:00,2.3441,0,0,0,0,0,R
9,7,01:00:00,01:00:00,2.3445,0,0,0,0,0,R
10,8,01:10:00,01:10:00,2.3445,0,0,0,0,0,R
11,9,01:20:00,01:20:00,2.3434,0,0,0,0,0,R
12,10,01:30:00,01:30:00,2.3434,0,0,0,0,0,R
13,11,01:40:00,01:40:00,2.3438,0,0,0,0,0,R
14,12,01:50:00,01:50:00,2.3434,0,0,0,0,0,R
15,13,02:00:00,02:00:00,2.343,0,0,0,0,0,R
16,14,02:10:00,02:10:00,2.3445,0,0,0,0,0,R
17,15,02:20:00,02:20:00,2.3434,0,0,0,0,0,R
18,16,02:30:00,02:30:00,2.3434,0,0,0,0,0,R
19,17,02:40:00,02:40:00,2.3434,0,0,0,0,0,R
20,18,02:50:00,02:50:00,2.3438,0,0,0,0,0,R
21,19,03:00:00,03:00:00,2.343,0,0,0,0,0,R
22,20,03:10:00,03:10:00,2.3441,0,0,0,0,0,R
23,21,03:20:00,03:20:00,2.3438,0,0,0,0,0,R
24,22,03:30:00,03:30:00,2.3426,0,0,0,0,0,R
25,23,03:40:00,03:40:00,2.343,0,0,0,0,0,R
26,24,03:50:00,03:50:00,2.3426,0,0,0,0,0,R
27,25,04:00:00,04:00:00,2.3426,0,0,0,0,0,R
28,26,04:10:00,04:10:00,2.3426,0,0,0,0,0,R
29,27,04:20:00,04:20:00,2.3438,0,0,0,0,0,R
...,...,...,...,...,...,...,...,...,...,...
130541,130317,15-06:33:37,04:49:18,2.6443,0.293,1.408,806.2,3.206,1835.4,C_Rate
130542,130318,15-06:33:47,04:49:28,2.6551,0.292,1.409,806.7,3.209,1836.6,C_Rate
130543,130319,15-06:33:57,04:49:38,2.6678,0.292,1.41,807.1,3.211,1837.9,C_Rate
130544,130320,15-06:34:07,04:49:48,2.6778,0.292,1.411,807.6,3.213,1839.1,C_Rate
130545,130321,15-06:34:17,04:49:58,2.6905,0.293,1.412,808.1,3.215,1840.3,C_Rate
130546,130322,15-06:34:27,04:50:08,2.7039,0.292,1.413,808.5,3.217,1841.6,C_Rate
130547,130323,15-06:34:37,04:50:18,2.7128,0.293,1.413,809,3.219,1842.9,C_Rate
130548,130324,15-06:34:47,04:50:28,2.7251,0.293,1.414,809.5,3.222,1844.1,C_Rate
130549,130325,15-06:34:57,04:50:38,2.7329,0.292,1.415,809.9,3.224,1845.4,C_Rate
130550,130326,15-06:35:07,04:50:48,2.7429,0.292,1.416,810.4,3.226,1846.7,C_Rate
130551,130327,15-06:35:17,04:50:58,2.7567,0.293,1.417,810.9,3.228,1847.9,C_Rate
130552,130328,15-06:35:27,04:51:08,2.7679,0.292,1.417,811.3,3.231,1849.2,C_Rate
130553,130329,15-06:35:37,04:51:18,2.7794,0.292,1.418,811.8,3.233,1850.5,C_Rate
130554,130330,15-06:35:47,04:51:28,2.7932,0.292,1.419,812.2,3.235,1851.8,C_Rate
130555,130331,15-06:35:57,04:51:38,2.8028,0.292,1.42,812.7,3.237,1853.1,C_Rate
130556,130332,15-06:36:07,04:51:48,2.817,0.292,1.421,813.2,3.24,1854.4,C_Rate
130557,130333,15-06:36:17,04:51:58,2.8289,0.293,1.421,813.6,3.242,1855.7,C_Rate
130558,130334,15-06:36:27,04:52:08,2.8404,0.292,1.422,814.1,3.244,1857,C_Rate
130559,130335,15-06:36:37,04:52:18,2.856,0.292,1.423,814.6,3.247,1858.4,C_Rate
130560,130336,15-06:36:47,04:52:28,2.865,0.292,1.424,815,3.249,1859.7,C_Rate
130561,130337,15-06:36:57,04:52:38,2.8798,0.292,1.425,815.5,3.251,1861,C_Rate
130562,130338,15-06:37:07,04:52:48,2.8943,0.292,1.425,816,3.254,1862.4,C_Rate
130563,130339,15-06:37:17,04:52:58,2.9055,0.292,1.426,816.4,3.256,1863.7,C_Rate
130564,130340,15-06:37:27,04:53:08,2.9222,0.292,1.427,816.9,3.258,1865.1,C_Rate
130565,130341,15-06:37:37,04:53:18,2.9345,0.292,1.428,817.4,3.261,1866.4,C_Rate
130566,130342,15-06:37:47,04:53:28,2.9494,0.292,1.429,817.8,3.263,1867.8,C_Rate
130567,130343,15-06:37:57,04:53:38,2.9598,0.292,1.43,818.3,3.265,1869.2,C_Rate
130568,130344,15-06:38:07,04:53:48,2.9784,0.292,1.43,818.7,3.268,1870.5,C_Rate
130569,130345,15-06:38:17,04:53:58,2.9922,0.292,1.431,819.2,3.27,1871.9,C_Rate
130570,130346,15-06:38:25,04:54:06,3.0011,0.292,1.432,819.6,3.272,1873,C_Rate

In [6]:
def clean_prep_break(dataframe):
    """
    function that removes labels from in between cycles,
    adds a new column which contains the time in seconds,
    and outputs a list of cycle_breaks
    """
#     drop = ['Mode', 'Rest', 'Charge CC', 'Discharge CC', 'TestTime']
    times = dataframe['test_time']
    drop_index = []
    index = []
    for i, _ in enumerate(times):
        time_0 = times[i]
        if isinstance(time_0, str):
            drop_index.append(i)
        else:
            index.append(i)   
    dataframe2 = dataframe.drop(drop_index)
    # add column with time converted to seconds
    t_sec = []
    times = dataframe2['test_time']
    for i in range(len(dataframe2['test_time'])):
        j = index[i]
        time_0 = str(times[j])
        if len(time_0) < 10:
            days = 0
            hours, minutes, seconds = time_0.split(':')
        else:
            days, time = time_0.split('-')
            hours, minutes, seconds = time.split(':')
        sec = int(days)*86400 + int(hours)*3600 + int(minutes)*60 + int(seconds)
        t_sec.append(sec)
    dataframe2['test_time_sec'] = t_sec
    # converts drop_index to a list of cycle_breaks
    cycle_break = []
    for i in range(len(dataframe.index)):
        if i - 1 in drop_index and i + 1 in drop_index:
            cycle_break.append(i)
        else:
            pass
    return dataframe2, cycle_break

In [7]:
dataframe2, cycle_break = clean_prep_break(dataframe)

In [ ]:
dataframe2